@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Work Sans;
}

.first-section {
    /* border: 2px solid red; */
    max-width: 1380px;
    height: 919px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 16px;

    background-image: url('colorful-background-png.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section h1 {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: auto;
}